<head>
  <meta charset="UTF-8">

  <% if(page.title){ %>
  <title>
    <%=page.title%> |
    <%=config.title%>
  </title>
  <% } else{ %>
  <title>
    <%=config.title%>
  </title>
  <% } %>


  <meta name="description" content="<%=page.summary || config.description%>">
  <meta name="author" content="<%=config.author%>">
  <meta property="og:title" content="<%=page.title || config.title%>" />
  <meta property="og:description" content="<%=page.summary || config.description%>" />
  <meta property='og:site_name' content='<%=config.title%>' />
  <meta property="og:image" content="<%=config.url%>/<%=page.featured_open_graph || theme.meta.open_graph.featured_image%>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="<%=page.summary || config.description%>" />
  <meta name="twitter:title" content="<%=page.title || config.title%>" />

  <meta name="twitter:image" content="<%=config.url%>/<%=page.featured_twitter || theme.meta.twitter.featured_image || page.featured_open_graph || theme.meta.open_graph.featured_image%>" />

  <!-- <script src="https://cdn.jsdelivr.net/npm/@amcharts/amcharts4@4.4.8/core.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@amcharts/amcharts4@4.4.8/charts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@amcharts/amcharts4@4.4.8/themes/animated.js"></script> -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.8.2/css/all.min.css">
  <%- css('./css/style.css') %>

</head>